<!--The school website rewrite started on 22nd August, 2023. Microsoft Visual Studio Code was used as the 
text editor for most part of the project. Some other parts were written in Atom-->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Salsabeel Islamic School</title>
    <!--CSS files-->
    <link rel="stylesheet" href="styles/font-families.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/swipe-images.css">
    <link rel="stylesheet" href="styles/images-slider.css">
    <link rel="stylesheet" href="styles/cards-info.css">

    <!--JS files-->
    <script defer src="scripts/index.js"></script>
    <script defer src="scripts/swipe-images.js"></script>
    <script defer src="scripts/images-slider.js"></script>
    <script defer src="scripts/cards-info.js"></script>
  </head>
  <body>
    <!--Logo, navigation links, and login setup-->
    <header>
      <img  draggable="false" class="school-logo" src="imgs/Linear Logo.png" alt="School logo">
      <nav class="header-links">
        <a class="header-link" href="#home">Home</a>
        <a class="header-link" href="#about">About</a>
        <a class="header-link" href="programmes">Programmes</a>
        <a class="header-link" href="mission">Mission</a>
        <a class="header-link" href="vision">Vision</a>
        <a class="header-link" href="contact">Contact</a>
        <img draggable="false" class="close-menu-icon" src="imgs/close.png" alt="Close icon">
      </nav>
      <img draggable="false" class="menu-icon" src="imgs/menu.png" alt="Menu icon">
      <a href="signin"><img draggable="false" class="login-icon" src="imgs/login.jpg" alt="Login icon"></a>
    </header>
    <!--Cover image setup-->
    <section id="home">
      <div class="cover-image-content">
        <h1>Welcome to Salsabeel Tahfeez College</h1>
        <h2>The brighter future for every child</h2>
        <button cover-learn-more>Learn more</button>
      </div>
    </section>
    <section id="about">
      <div class="section-content">
        <p class="section-title">About Us</p>
        <div class="about-section-text">
          <p>Click on any card below.</p>
        </div>
        <div class="cards-info">
          <div class="card">
            <div class="card-content teachers">
              <p class="card-title">Teachers</p>
              <p class="card-number">11</p>
            </div>
          </div>
          <div class="card">
            <div class="card-content classes">
              <p class="card-title">Classes</p>
              <p class="card-number">9</p>
            </div>
          </div>
          <div class="card">
            <div class="card-content working-hours">
              <p class="card-title">Working Hours</p>
              <p class="card-number">8</p>
            </div>
          </div>
          <div class="card">
            <div class="card-content activities">
              <p class="card-title">Activities</p>
            </div>
          </div>
        </div>
        <p style="font-size: 3.3rem; font-weight: bold; text-align: center;">
          You're welcome!</p><br>
          <p style="font-size: 2.7rem; text-align: center ; color: #925923; margin-bottom: 2rem;">
          We're inspiring the next generation of the brightest minds.</p>
          <img class="quran-image" src="imgs/Qur’an 1.png" alt="Qur'an verse">
      <div class="info">
        <p class="info-title">Teachers</p>
        <img draggable="false" class="close-info" src="imgs/close.png" alt="Close info">
        <div class="details">
          
        </div>
      </div>  
      <div class="info">
        <p class="info-title">Current Classes</p>
        <img draggable="false" class="close-info" src="imgs/close.png" alt="Close info">
        <div class="details">

        </div>
      </div>  
      <div class="info">
        <p class="info-title">Working Hours</p>
        <img draggable="false" class="close-info" src="imgs/close.png" alt="Close info">
        <div class="details" style="text-align: justify;">
          The school operates for approximately to 8 hours. Beginning from Sundays to Thursdays, the college section
          begins its activities from 8 am to nearly 4 pm, while the nursery and primary section
          begins its activities from 8 am to 3 pm. The nursery and primary section does not operate on
          Sundays. On Fridays, the college section closes at 12:15 pm, while the nursery and primary section 
          closes at 12:00 pm.
        </div>
      </div>  
      <div class="info">
        <p class="info-title">Activities</p>
        <img draggable="false" class="close-info" src="imgs/close.png" alt="Close info">
        <div class="details">
          <p style="margin-bottom: 1.7rem; text-align: justify;">One of the main goals of Salsabeel Tahfeez College is to train its students to memorize the Holy 
          Book of Allah. Therefore, each morning, the students begin with the recitation of the Holy Qur'an
          before other lessons. The nursery and primary section conducts assembly daily, while the college 
          section conducts assembly on Mondays.</p>
          <p style="margin-bottom: 1.7rem; text-align: justify;">At nealy 7:30 am, the college students begin their day with <i>azkar</i> for about 10 minutes.
          Also, a <b>general class</b> has been introduced for students where some important topics are discussed
          with the students. The general class is conducted on Sundays, Tuesdays, and Wednesdays. It is 
          immediately after the <i>azkar</i> and last form about 15 minutes.</p>
          <p style="margin-bottom: 1.7rem; text-align: justify;">The nursery and primary students come out for their first break at 10:00 am and return to their
          classes at 10:30 am, while the college the students come out for their first at 11:10 am and return 
          to their classes at 11:30 am. At about 12:50 pm, all the students come out for <i>salah</i> and
          take their lunch. While the nursery and primary students return to their classes at 1:30 pm, the 
          college students return to their classes at 2:00 pm.
          </p>
        </div>
      </div>
      <p>
        The college was founded by Imam Ridwanullah Jamiu as one of his ingenious endeavors in mentoring 
        young minds regarding the memorization of the Holy Book and also to provide an atmosphere where 
        first school leavers can successfully attain both the Islamic and secular education simultaneously 
        at the expense of neither of them both. At Salsabeel Islamic School, we offer a 3-year course for 
        primary school graduates to memorize the entire Qur'an in approximately 2 years and engage them in a
        rigorous revision exercise for 1 year after which a graduation program is conducted to commemorate 
        the success of the newly produced Imams of the Ummah.
      </p>  
      </div>
    </section>
    <section class="swipe-images">
      <p class="section-title">The School Heads</p>
      <p style="margin-bottom: 1rem;">Swipe the cards below or click the small arrow buttons.</p>
      <p class="backward">&lt;</p>
      <div class="images-swipe-content">
        <div class="swipe-card">
          <img class="swipe-image" draggable="false" src="imgs/muhammad.jpg" alt="Muhammad Image">
          <p class="staff-name">Imam Ridwanullah Jami'u</p>
          <p class="staff-post">Proprietor</p>
        </div>
        <div class="swipe-card">
          <img class="swipe-image" draggable="false" src="imgs/nasir.jpg" alt="Nasir Image">
          <p class="staff-name">Ustadh Badr</p>
          <p class="staff-post">Head of School</p>
        </div>
        <div class="swipe-card">
          <img class="swipe-image" draggable="false" src="imgs/bander.jpg" alt="Bander Image">
          <p class="staff-name">Aminu Adamu Aminu</p>
          <p class="staff-post">Principal</p>
        </div>
        <div class="swipe-card">
          <img class="swipe-image" draggable="false" src="imgs/ra'ad.jpg" alt="Ra'ad Image">
          <p class="staff-name">Anas Sabo</p>
          <p class="staff-post">Head Teacher, Nursery and Primary</p>
        </div>
        <div class="swipe-card">
          <img class="swipe-image" draggable="false" src="imgs/wadi.jpg" alt="Wadi' Image">
          <p class="staff-name">Abdulqadir Jimoh</p>
          <p class="staff-post">Head Teacher, Islamiyya</p>
        </div>
      </div>
      <p class="forward">&gt;</p>
    </section>
    <section class="images-slider">
      <p class="section-title">Gallery</p>
      <div class="slider-content">
        <div class="current-image">
          <img current-image draggable="false" src="imgs/Jss 1-min.png" alt="JSS 1 students">
          <p>Click on any of the images to preview it.</p>
        </div>
        <div class="slider-images">
          <img select-image draggable="false" src="imgs/Jss 1-min.png" alt="JSS 1 students">
          <img select-image draggable="false" src="imgs/Jss 2-min.png" alt="JSS 2 students">
          <img select-image draggable="false" src="imgs/Prize 1-min.png" alt="Prize giving">
          <img select-image draggable="false" src="imgs/Prize 2-min.png" alt="Prize giving">
          <img select-image draggable="false" src="imgs/Prize 3-min.png" alt="Prize giving">
        </div>
      </div>
    </section>
    <footer>
      <div class="address">
        <p>Salsabeel Tahfeez College, Kasarau Quarters, Dutse, Jigawa State</p>
        <p>Telephone: +234-805-923-3446, +234-813-887-9937</p>
        <p>Email: salsabeelislamicschool@gmail.com</p>
      </div>
      <p>&copy; 2023 Salsabeel Tahfeez College</p>
      <p>All rights reserved.</p>
    </footer>
  </body>  
</html>