<%- include('./partials/home_headers.ejs') %>

    <header>
        <img  draggable="false" class="school-logo" src="imgs/Linear Logo.png" alt="School logo">
        <nav class="header-links">
          <a class="header-link" href="/">Home</a>
          <a class="header-link" href="programmes">Programmes</a>
          <a class="header-link" href="mission">Mission</a>
          <a class="header-link" href="contact">Contact</a>
          <img draggable="false" class="close-menu-icon" src="imgs/close.png" alt="Close icon">
        </nav>
        <img draggable="false" class="menu-icon" src="imgs/menu.png" alt="Menu icon">
        <a href="signin"><img draggable="false" class="login-icon" src="imgs/login.jpg" alt="Login icon"></a>
    </header>
    <section id="vision">
        <div class="section-content">
          <p class="section-title">Our Vision</p>
          <p>
            Salsabeel Islamic School aims at an epoch-making Islamic center where people can acquire and learn
            the knowledge of Islam through the mastering and memorization of the Holy Qur'an and traditions of 
            the prophet Muhammad (peace of Allah be upon him); nurturing and encouraging people from all 
            corners of life, strengthening their belief in Allah, developing their innate creativity and 
            inquisitive nature in the pursuance of truth and guidance while anchoring their hearts and souls 
            in a moral framework of a God-centered life.
          </p>
          <img class="quran-image" src="imgs/Qur’an 3.png" alt="Qur'an verse">
          <div class="box two">
            We teach the Holy Book of Allah.
          </div>
        </div>
      </section>

<%- include('./partials/footer.ejs') %>